@CHARSET "UTF-8";

body {	
	background-color: #D8F2F0;
}

.right {
	text-align: right;
}

.floatRight {
	float : right;
}

.left {
	text-align: left;
}

.center {
	text-align : center;
}

.spanTable {
	width: 100%;	
}

.error {	
	font-weight: bold;
}

.head {
	clear: both;
	overflow: auto;
	position: relative;
}

.logo {
	float: left;
	clear: both;
}

.dialog {
	display: none;
}

.main {
	text-align: center;
	clear: both;
}

ul.vragen {
	list-style-image: url('images/vraagtekenResized.png');
	font-size: 25px;
}

li.vraag {
	cursor : pointer;	
}

li.vraag:hover {
	border-style : solid;
	border-width : 1px;	
}

.vraagDiv {
	border-style : dashed;
	border-width : 5px;	
	padding : 20px;
	background-color : #ECF7E6;
	margin-top : 40px; 
	overflow: hidden;
}

.mc {
	margin-bottom : 20px;
}

.top10 {
	margin-top : 10px;
}

.right5 {
	margin-right : 5px !important;
}

#num_slider {
	width : 500px;
	display : inline-block;
}

.teSlepen {
	float : left;
	width: 50%;
}

.antwoordVelden {
	float : rigth;
	width : 50%;
}

.gedropt {
	width: 100px !important;
	height: auto !important;	
}

.out {
	width: 250px !important;
	height: auto !important;	
}

.verbetering {
	width: 35px;
	height: auto;
}

div.rapport {
	border-style : dashed;
	border-width : 5px;	
	padding : 20px;
	background-color : #ECF7E6;
	margin-top : 40px; 
	overflow: hidden;
}

td.rapport {
	padding: 0 15px 0 15px;
}

table.rapportUit {
	border-spacing : 10px;
}

div.rapportUit {
	background-color : #ECF7E6;
}

div.tabPanel {
	background-color : #ECF7E6 !important;
}

div.vragen {
	background-color : #ECF7E6;
}

#div_deelnemers {
	display : table-cell;
	width : 400px;
}

#div_todo {
	display : table-cell;
	width : auto;	
}

#div_vragenreeksen {
	display : table-cell;
	width : 400px;
}

#todo_wrapper {
	width: 100%;
	display: table;
	border-spacing : 10px;
}

div.todo {
	border-style : dashed;
	border-width : 2px;
	height : 600px;	
}

ul.select {
	list-style-type : none;
	text-align : left;
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

li.selectable {
	margin : 5px 10px 0px 10px;
	padding : 5px;
}

.plus, .min{
	width: 20px;
	height: auto;
}

table.todoTabel {
	width: 90%;
	margin: 0 auto;
}

div.todo {
	background-color : #ECF7E6;
	overflow-y : scroll;
}
